<div class='row page-title-header'>
  <div class='col-xl-12'>
    <h4>Account informations</h4>
  </div>
</div>

<div class='row page-title-section'>
  <div class='col-xl-12'>
    <p>Email : <%= current_user.email %></p>
    <p>Full name : <%= @profile.fullname %></p>
    <p>Address : <%= @profile.address %></p>
    <%= link_to 'Edit my informations', edit_profile_path %>
  </div>
</div>
